.cadastrarLogin{
  font-family: NEON;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(to right, #560A86, #7122FA, #F148FB, #FFACFC);
  -webkit-background-clip: text;
  color: transparent;
}

.titles{
  font-family: LEMONMILK-Light;
  text-align: center;
  padding: 15px;
}

input{
  font-family: LEMONMILK-Light;
  padding: 5px;
  margin: 15px;
  border-radius: 10%;
  border-color: grey;
  border-style: dotted;

}

.acoes{
  text-align: center;
}

.btnSalvarLogin, .primary{
  margin: 5px;
  letter-spacing: 2px;
  font-family: LEMONMILK-Light;
  font-size: 13px;
  height: 50px;
  width: 100px;
  border: none;
  color: #000;
  background: #fff;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btnSalvarLogin::before, .primary::before{
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btnSalvarLogin:hover::before, .primary:hover::before{
  opacity: 1;
}

.btnSalvarLogin::after, .primary::after{
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@font-face{
  font-family: NEON;
  src: url(../fonts/NEONLEDLight.otf)
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
