<div class="editarIngresso">
    <h1>Editar Ingresso</h1>
  </div>
  <form>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <label for="evento">Nome do evento: </label>
                <input type="text" placeholder="Digite o nome do evento" name="evento" [(ngModel)]="ingresso.evento">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <label for="desc">Descrição: </label>
                <textarea [(ngModel)]="ingresso.desc"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <label for="artista">Artista: </label>
                <input type="text" placeholder="Digite o nome do artista" name="artista" [(ngModel)]="ingresso.artista">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <label for="valor">Valor do ingresso: </label>
                <input type="number" class="example-right-align" placeholder="0" [(ngModel)]="ingresso.local">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <label for="local">Local do evento: </label>
                <input type="text" placeholder="Digite o local do evento" name="local" [(ngModel)]="ingresso.local">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <label for="data">Data do evento: </label>
                <input type="date" placeholder="Informe a data do evento" name="data" [(ngModel)]="ingresso.data">
            </mat-form-field> 
        </mat-card-content>
    </mat-card>
    <mat-card-actions>
        <button mat-raised-button class="btnSalvarIngresso" (click)="salvarIngresso()" 
                color="primary">Salvar</button>
        <button mat-raised-button class="btnSalvarIngresso" 
                routerLink="/listar">Cancelar</button>
      </mat-card-actions>
</form>
  
