.ingressosDisponiveis {
    background-color: #00e500;
    border-radius: 5%;
    padding: 8px;
    font-family: IMPACTREVERSE;
    font-size: 30px;
    letter-spacing: 1px;
}
.ingressosIndisponiveis {
    background-color: #FF0000;
    border-radius: 5%;
    padding: 8px;
    font-family: IMPACTREVERSE;
    font-size: 30px;
    letter-spacing: 1px;
}
.ultimosIngressos {
    background-color: #e9d700;
    border-radius: 5%;
    padding: 8px;
    font-family: IMPACTREVERSE;
    font-size: 30px;
    letter-spacing: 1px;
}
.divIngressos {
    flex-direction: column;
    position: relative;
    height: 100%;
    padding: 20px;
    font-family: LEMONMILK;
}
.ingressos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ingresso {
    flex-basis: 32%;
    position: relative;
    margin-bottom: 50px;
    border-radius: 15px;
    padding-bottom: 30px;
    background-color: rgba(24, 46, 46, 0.205);
}

.evento {
    font-size: 38px;
    text-shadow: 2px 2px grey;
    font-family: IndianaJones;
    text-align: center;
    text-transform: uppercase;
}

.desc, .data{
  text-align: center;
  font-weight: bolder;
  padding-bottom: 15px;
}

.data{
  font-size: 20px;
}

.valor{
    color: #007500;
    font-weight: bolder;
}

a{
  text-decoration: none;
}
.comprar {
  align-items: center;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  justify-content: center;
  min-width: 120px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.comprar:focus {
  color: #171e29;
}

.comprar:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.comprar:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .comprar {
    min-width: 170px;
  }
}

@font-face {
    font-family: LEMONMILK;
    src: url(../fonts/LEMONMILK-Light.otf);
}

@font-face {
  font-family: IndianaJones;
  src: url(../fonts/Indiana-Jonas-48p.otf);
}

@font-face {
  font-family: IMPACTREVERSE;
  src: url(../fonts/IMPACTREVERSE.ttf);
}
