
<table>
  <thead>
    <tr>
      <th> Evento </th>
      <th> Descrição </th>
      <th> Artista </th>
      <th> Valor </th>
      <th> Local </th>
      <th> Data </th>
      <th> Ações </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingresso of ingressos">
      <td> {{ingresso.evento}} </td>
      <td> {{ingresso.desc}} </td>
      <td> {{ingresso.artista}} </td>
      <td> {{ingresso.valor}} </td>
      <td> {{ingresso.local}} </td>
      <td> {{ingresso.data}} </td>
      <td>
        <a routerLink="/editar/{{ ingresso.id }}">Editar</a>
        <a routerLink="/deletar/{{ ingresso.id }}">Excluir</a>
        <a routerLink="/comprar/{{ ingresso.id }}">Comprar</a>
      </td>
      <td>
        <span class="ingressosDisponiveis" *ngIf="ingresso.numero_ingressos > 10">Ingressos disponíveis</span>
        <span class="ultimosIngressos" *ngIf="ingresso.numero_ingressos <= 10 && ingresso.numero_ingressos != 0">Últimos ingressos</span>
        <span class="ingressosIndisponiveis" *ngIf="ingresso.numero_ingressos == 0">Ingressos esgotados</span>
      </td>
    </tr>
  </tbody>
</table>