
<table mat-table [dataSource]="ingressos" >

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Evento </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.evento}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.desc}} </td>
  </ng-container>

  <ng-container matColumnDef="artista">
    <th mat-header-cell *matHeaderCellDef> Artista </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.artista}} </td>
  </ng-container>

  <ng-container matColumnDef="valor">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.valor}} </td>
  </ng-container>

  <ng-container matColumnDef="local">
    <th mat-header-cell *matHeaderCellDef> Local </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.local}} </td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let ingresso"> {{ingresso.data}} </td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef style="text-align: center; padding-right: 35px"> Ações </th>
    <td class="ultima-coluna" mat-cell *matCellDef="let ingresso">
      <a routerLink="/editar/{{ ingresso.id }}">Editar</a>
      <a routerLink="/deletar/{{ ingresso.id }}">Excluir</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>

