
<table>
  <thead>
    <tr>
      <th> Evento </th>
      <th> Descrição </th>
      <th> Artista </th>
      <th> Valor </th>
      <th> Local </th>
      <th> Data </th>
      <th> Ações </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingresso of ingressos">
      <td> {{ingresso.evento}} </td>
      <td> {{ingresso.desc}} </td>
      <td> {{ingresso.artista}} </td>
      <td> {{ingresso.valor}} </td>
      <td> {{ingresso.local}} </td>
      <td> {{ingresso.data}} </td>
      <td>
        <a routerLink="/editar/{{ ingresso.id }}">Editar</a>
        <a routerLink="/deletar/{{ ingresso.id }}">Excluir</a>
        <a routerLink="/listar">Comprar</a>
      </td>
    </tr>
  </tbody>
</table>