div, form{
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: LEMONMILK-Light;
}

body{
  background-image: url(../fonts/);
  background-size: cover;
  background-blend-mode: exclusion;
  margin: 0;
}
