.all{
  display: flex;
  flex-direction: row;
  font-family: LEMONMILKLight;
  font-size: 25px;
  text-align: center;
  padding: 50px;
}

.email{
  margin: 40px;
  display: flex;
  flex-direction: row;
}

.senha{
  margin: 40px;
  display: flex;
  flex-direction: row;
}

.emailinput{
  padding: 15px;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-color: aliceblue;
  font-family: LEMONMILKLight;
}

.senhainput{
  padding: 15px;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-color: aliceblue;
  margin-bottom: 25px;
  font-family: LEMONMILKLight;
}

button{
  font-family: LEMONMILKLight;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
}

button:active{
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

a{
  font-family: LEMONMILKLight;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
}

a:active{
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@font-face{
  font-family: LEMONMILKLight;
  src: url(fonts/LEMONMILK-Light.otf);
}
