.all{
  font-family: LEMONMILKLight;
  font-size: 25px;
  text-align: center;
  padding: 50px;
}

.email{
  margin: 40px;
}

.senha

@font-face{
  font-family: LEMONMILKLight;
  src: url(fonts/LEMONMILK-Light.otf);
}
