<div class="excluirIngresso">
    <h1>Deletar ingresso</h1>
    <h4>Tem certeza que deseja deletar este ingresso?</h4>
</div>
<form>
  <div class=""
    <label for="evento">Nome do evento: </label>
    <input type="text" name="evento" [(ngModel)]="ingresso.evento">

    <label for="desc">Descrição: </label>
    <textarea name="desc" [(ngModel)]="ingresso.desc"></textarea>

    <div>
      <button mat-raised-button class="btnExcluirIngresso" (click)="deletarIngresso()" color="warn">CONFIRMAR</button>
      <button mat-raised-button class="btnExcluirIngresso" routerLink="/listar">Cancelar</button>
    </div>
</form>

