div, form{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: LEMONMILK-Light;
}

.primary {

  font-family: LEMONMILK-Light;
  font-size: 15px;
  height: 50px;
  color: #000;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.primary:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.primary:active {
  color: #000
}

.primary:active:after {
  background: transparent;
}

.primary:hover:before {
  opacity: 1;
}

.primary:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.secundary{
  font-family: LEMONMILK-Light;
  font-size: 20px;
  letter-spacing: 2px;
  color:#b10909;
  cursor: pointer;
  border:#b10909 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 25px;
}

.secundary:active{
  box-shadow: #b10909 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.cadastrarIngresso{
  font-family: NEONLEDLight;
  font-size: 20px;
  background-image: linear-gradient(to right, #560A86, #7122FA, #F148FB, #FFACFC);
  -webkit-background-clip: text;
  color: transparent;
}

input, textarea{
  background-image: url(../fonts/SL_042620_30310_10.jpg);
  background-size: cover;
  border-radius: 5%;
  border-style: double;
  border-color: grey;
  margin: 10px;
}


@font-face{
  font-family: cream-DEMO;
  src: url(../fonts/cream-DEMO.ttf);
}

@font-face{
  font-family: NEONLEDLight;
  src: url(../fonts/NEONLEDLight.otf);
}

@font-face{
  font-family: LEMONMILK-Light;
  src: url(../fonts/LEMONMILK-Light.otf);
}


