background-color: #e5e5f7;
opacity: 0.3;
background: linear-gradient(135deg, #00000055 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(225deg, #000000 25%, transparent 25%) -14px 0/ 28px 28px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 28px 28px, linear-gradient(45deg, #000000 25%, #e5e5f7 25%) 0px 0/ 28px 28px;
