.comprarIngresso{
  font-family: AMP;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #560A86, #7122FA, #F148FB, #FFACFC);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

body{
  background-image: url(../comprar-ingresso/fonts/SL_042620_30310_10.jpg)
}

