div.header {
    display: flex;
    font-family:NEONLEDLight;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    height: 120px;
    color: white;
    flex-direction: row;
    background-color: black;
}

.titulo {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login {
    display: flex;
    justify-content: end;
    align-items: center;
}

.login > a {
    color: white;
}


@font-face{
  font-family: NEONLEDLight;
  src:url(../fonts/NEONLEDLight.otf)
}
