<div class="all">
    <div class="cadastrarLogin">
      <h1>CADASTRE-SE</h1>
    </div>
  <form>
      <div class="titles">
          <form action="POST">
              <label for="email">E-mail: </label>
              <input type="text" name="email" [(ngModel)]="login.email">

              <label for="senha">Senha: </label>
              <input name="senha" type="password" [(ngModel)]="login.senha">

              <br>
              <label for="profile">Selecione seu perfil:</label>
              <select name="profile"  [(ngModel)]="login.profile">
                <option value="admin">Administrador</option>
                <option value="user">Usuário</option>
                <option value="manager">Gerente</option>
                <option value="aux">Auxiliar</option>
              </select>

          </form>

      </div>
      <div class="acoes">
          <button class="btnSalvarLogin, primary" (click)="salvarLogin()">Salvar</button>
      </div>
  </form>
</div>
